head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Recipe and Me
    link(href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet")
    link(rel="stylesheet" href='/css/header.css' type='text/css')
    link(rel="stylesheet" href='/css/reset.css' type='text/css')